<% content_for :menu do %>
  <%= link_to 'Detalles de Pregunta', @preguntum, :class => 'btn btn-primary' %>
  <%= link_to 'Detalles de Asignatura', @preguntum.asignatura, :class => 'btn btn-primary' %>
<% end %>

<h1>Editando Pregunta</h1>

<%= render 'form' %>

