<% content_for :menu do %>
  <%= link_to 'Detalles de Asignatura', @asignatura, :class => 'btn btn-primary' %>
<% end %>
<%= render :partial => 'common/common_menu'%>

<h1>Nueva Pregunta</h1>

<%= render 'form' %>

