<% content_for :menu do %>
  <%= link_to 'Detalles de Asignatura', @asignatura, :class => 'btn btn-primary' %>
  <%= link_to 'Definir Clave', clave_path(@examan), :class => 'btn btn-primary' %>
  <%= link_to 'Generar Master (latex)', latex_master_path(@examan), :class => 'btn btn-primary' %>
<% end %>

<h1>Editar Examen</h1>

<%= render 'form' %>

