% ============================================================================
% Project "{{ project.name }}" Master file
% ============================================================================

% ============================================================================
%  HEADER
% ============================================================================

% number of questions:
total: {{ project.total_questions }}

% tags here:
% format:
% @tag_name: minimum_number_of_questions (for each tag)

{% for tag in project.tags %}
{{ tag.name }}: {{ tag.min_questions }}
{% endfor %}

------------------------------------------------------------------------------

% ============================================================================
%  QUESTIONS
% ============================================================================

{% for question in project.questions %}
({{ question.id }})
{% for tag_name in question.tag_names %}{{ '@' + tag_name }} {% endfor %}
{{ question.text }}
{% for answer in question.answers %}
{{ ('_x' if answer.valid else '_') + ('*' if answer.fixed_position else '') }} {{ answer.text }}
{% endfor %}
{% endfor %}
