flask
flask-login
flask-openid
flask-mail
flask-sqlalchemy
sqlalchemy-migrate
flask-whooshalchemy
flask-wtf
flask-babel
guess_language
flipflop
coverage
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
