flask
flask-login
flask-openid
flask-mail
flask-sqlalchemy
sqlalchemy-migrate
flask-whooshalchemy
flask-wtf
flask-babel
guess_language
flipflop
coverage
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
