body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.table-errors{
    margin-left: 100px;
}

.table-warnings{
    margin-right: 100px;
}

#list_error  th, #list_error .number{
    text-align: center;
}
